<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改成功</title>

</head>
<body>
<div>账号修改成功,1秒后将自动返回...</div>
<script type="text/javascript">
    onload=function(){
        setInterval(go, 1000);
    };
    var x=1; //利用了全局变量来执行
    function go(){
        x--;
        if(x>0){
            document.getElementById("sp").innerHTML=x; //每次设置的x的值都不一样了。
        }else{
            location.href='user2query';
        }
    }
</script>
<input type="button"  value="点击返回" onclick ="location.href='user2query'"/>
</body>
</html>